<nav class="container sidebar">
  <header>
    <img src="../../../../assets/logo.png" width="200px" height="200px" />
    <span class="text-big-bold title unselectable" style="color: white">
      InfraReport
    </span>
  </header>
  <div class="sidebar-items-container list">
    <button
      mat-button
      *ngFor="let item of sidebarItems"
      [style.height]="item.height"
    >
      <a class="sidebar-item"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="color: white"
        >
          {{ item.icon }}
        </mat-icon>
        <span class="label text-standard-regular" style="color: white">
          {{ item.label }}
        </span>
      </a>
    </button>
    <button
      mat-button
      [style.height]="sideBarCustomItem.height"
      style="margin-top: 40px"
      (click)="logout()"
      class="extra-item"
    >
      <a class="sidebar-item"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          style="color: white"
        >
          {{ sideBarCustomItem.icon }}
        </mat-icon>
        <span class="label text-standard-regular" style="color: white">
          {{ sideBarCustomItem.label }}
        </span>
      </a>
    </button>
  </div>
</nav>
