@import "/src/styles/variables.scss";

.container {
  width: $sidebar-width;
  height: 100vh;
}

.list {
  display: flex;
  flex-direction: column;
}

.sidebar-items-container {
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}

.label {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.title,
img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: fit-content;
}

header {
  margin-bottom: 30%;
}

mat-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.extra-item {
}

.text-white {
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    width: $sidebar-responsible-width;
    bottom: 0;
    position: absolute;
    height: $sidebar-responsible-height;
    z-index: 2;
  }

  .list {
    flex-direction: row;
  }

  .sidebar-items-container {
    display: flex;
    justify-content: space-around;
    height: $sidebar-responsible-height;
  }

  .sidebar-item {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    height: $sidebar-responsible-height;
  }

  mat-icon {
    margin-left: auto;
    margin-right: auto;
  }

  button {
    margin-top: auto;
    margin-bottom: auto;
  }

  header,
  .extra-item {
    display: none;
  }
}

.sidebar {
  background: linear-gradient(#285f92, #0d3c69);
}
