<nav class="container">
  <header>
    <img src="../../../../assets/logo.png" />
    <span class="text-big-bold title"> InfraReport </span>
  </header>
  <div class="sidebar-items-container list">
    <button
      mat-button
      *ngFor="let item of sidebarItems"
      [style.height]="item.height"
    >
      <a class="sidebar-item"
        ><mat-icon aria-hidden="false" aria-label="Example home icon">
          {{ item.icon }}
        </mat-icon>
        <span class="label text-standard-regular"> {{ item.label }} </span>
      </a>
    </button>
    <button
      mat-button
      [style.height]="sideBarCustomItem.height"
      style="margin-top: 40px"
      (click)="logout()"
    >
      <a class="sidebar-item"
        ><mat-icon aria-hidden="false" aria-label="Example home icon">
          {{ sideBarCustomItem.icon }}
        </mat-icon>
        <span class="label text-standard-regular">
          {{ sideBarCustomItem.label }}
        </span>
      </a>
    </button>
  </div>
</nav>
