<p class="text-big-regular" mat-dialog-title>Ocorrência</p>
<form
  mat-dialog-content
  class="container"
  mat-dialog-content
  style="overflow-y: hidden"
>
  <mat-dialog-content class="column">
    <mat-label> Tipo de ocorrência </mat-label>
    <mat-form-field class="full-width">
      <mat-select [value]="occurrence.type" disabled="true">
        <mat-option [value]="'none'"> Não se aplica </mat-option>
        <mat-option
          [value]="option.value"
          *ngFor="let option of occurrenceTypes"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label> Comentário </mat-label>
    <mat-form-field class="full-width">
      <input
        type="text"
        matInput
        placeholder="Comentário"
        [value]="occurrence.comment"
        [disabled]="true"
      />
    </mat-form-field>
    <img alt="" id="myImg" width="100%" height="auto" loading="lazy" />
    <div class="actions">
      <button mat-button (click)="closeDialog()">Fechar</button>
    </div>
  </mat-dialog-content>
</form>
