<div style="flex: 1; width: 100vw; height: 100vh">
  <form class="container column" [formGroup]="createUserForm">
    <div style="display: flex; flex-direction: column">
      <span> Nome </span>
      <mat-form-field class="full-width">
        <mat-label> Nome </mat-label>
        <input
          type="text"
          matInput
          placeholder="Nome"
          formControlName="displayName"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <div class="item full-width">
        <span> Email </span>
        <mat-form-field>
          <mat-label> Email </mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <div class="full-width item">
        <span> Senha </span>
        <mat-form-field class="full-width">
          <mat-label> Senha </mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            formControlName="password"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="full-width item">
        <span> Rua </span>
        <mat-form-field>
          <mat-label> Rua </mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            formControlName="addressLine1"
          />
        </mat-form-field>
      </div>
      <div class="full-width item">
        <span> Bairro </span>
        <mat-form-field class="full-width">
          <mat-label> Bairro </mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            formControlName="addressLine2"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="full-width item">
        <span> CEP </span>
        <mat-form-field>
          <mat-label> CEP </mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            formControlName="cityZipCode"
          />
        </mat-form-field>
      </div>
      <div class="full-width item">
        <span> Cidade </span>
        <mat-form-field class="full-width">
          <mat-label> Cidade </mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            formControlName="city"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="actions">
      <button mat-button>Cancelar</button>
      <button mat-raised-button (click)="saveUser()">Salvar</button>
      <button mat-stroked-button (click)="registerTown()">
        Criar conta como cidade
      </button>
    </div>
  </form>
</div>
