<div class="major-container2">
  <img
    src="../../../../assets/logo.png"
    width="150px"
    height="150px"
    style="background-color: white; border-radius: 50%"
  />
  <span class="text-big-bold title unselectable" style="color: white">
    InfraReport
  </span>
  <div style="background-color: white; border-radius: 10px; padding: 20px">
    <form class="container column" [formGroup]="createUserForm">
      <div style="display: flex; flex-direction: column">
        <span> Nome </span>
        <mat-form-field class="full-width">
          <mat-label> Nome </mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome"
            formControlName="displayName"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <div class="item full-width">
          <span> Email </span>
          <mat-form-field>
            <mat-label> Email </mat-label>
            <input
              type="text"
              matInput
              placeholder="Nome"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div class="full-width item">
          <span> Senha </span>
          <mat-form-field class="full-width">
            <mat-label> Senha </mat-label>
            <input
              type="text"
              matInput
              placeholder="Nome"
              formControlName="password"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="full-width item">
          <span> CEP </span>
          <mat-form-field>
            <mat-label> CEP </mat-label>
            <input
              type="text"
              matInput
              placeholder="Nome"
              formControlName="cityZipCode"
              appOnlynumbers
            />
          </mat-form-field>
        </div>
      </div>

      <div class="actions-1">
        <button mat-raised-button (click)="saveUser()" color="primary">
          Criar conta
        </button>
      </div>
      <div class="actions">
        <button mat-stroked-button (click)="registerCitizen()">
          Criar conta como cidadão
        </button>
        <button mat-stroked-button (click)="login()">Entrar</button>
      </div>
    </form>
  </div>
</div>
