<form class="container column" [formGroup]="createUserForm">
  <div class="row">
    <div class="full-width">
      <span> Nome </span>
      <mat-form-field class="full-width">
        <mat-label> Nome </mat-label>
        <input
          type="text"
          matInput
          placeholder="Nome"
          formControlName="displayName"
        />
      </mat-form-field>
    </div>
    <div class="full-width">
      <span> Email </span>
      <mat-form-field class="full-width">
        <mat-label> Email </mat-label>
        <input
          type="text"
          matInput
          placeholder="Nome"
          formControlName="email"
        />
      </mat-form-field>
    </div>
  </div>
  <div>
    <span> Senha </span>
    <mat-form-field class="full-width">
      <mat-label> Senha </mat-label>
      <input
        type="text"
        matInput
        placeholder="Nome"
        formControlName="password"
      />
    </mat-form-field>
  </div>

  <div>
    <span> Rua </span>
    <mat-form-field class="full-width">
      <mat-label> Rua </mat-label>
      <input
        type="text"
        matInput
        placeholder="Nome"
        formControlName="addressLine1"
      />
    </mat-form-field>
  </div>
  <div>
    <span> Bairro </span>
    <mat-form-field class="full-width">
      <mat-label> Bairro </mat-label>
      <input
        type="text"
        matInput
        placeholder="Nome"
        formControlName="addressLine2"
      />
    </mat-form-field>
  </div>
  <div>
    <span> CEP </span>
    <mat-form-field class="full-width">
      <mat-label> CEP </mat-label>
      <input
        type="text"
        matInput
        placeholder="Nome"
        formControlName="cityZipCode"
      />
    </mat-form-field>
  </div>
  <div>
    <span> Cidade </span>
    <mat-form-field class="full-width">
      <mat-label> Cidade </mat-label>
      <input type="text" matInput placeholder="Nome" formControlName="city" />
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-button>Cancelar</button>
    <button mat-raised-button (click)="saveUser()">Salvar</button>
  </div>
</form>
