@import "src/styles/variables.scss";

.full {
  width: calc(100vw - $sidebar-width);
  height: 100vh;
}

.spinner {
  position: absolute;
  right: calc((100vw - $sidebar-width) / 2);
  top: 40%;
}

@media only screen and (max-width: 600px) {
  .spinner {
    right: 40%;
    top: calc((100vh - $sidebar-responsible-height) / 2);
  }

  .full {
    width: 100vw;
    height: calc(100vh - $sidebar-responsible-height);
  }
}
